@model Review_Site.Models.DestinationModel

@{
    ViewData["Title"] = "Details";
}
<body id="review_page_background_image">

    <h1 id="details_page_title">TOUR DETAILS</h1>

    <div id="tokyo_review_info_block">

        <div id="details_category_name">
                @Html.DisplayNameFor(model => model.Name)
        </div>

        <div id="details_category_data">
                @Html.DisplayFor(model => model.Name)
        </div>

        <div id="details_category_name">
                @Html.DisplayNameFor(model => model.Description)
        </div>

        <div id="details_category_data">
                @Html.DisplayFor(model => model.Description)
        </div>

        <div id="details_category_name">
                @Html.DisplayNameFor(model => model.Country)
        </div>

        <div id="details_category_data">
                @Html.DisplayFor(model => model.Country)
        </div>

        <div id="details_category_name">
                @Html.DisplayNameFor(model => model.City)
        </div>
        <div id="details_category_data">
                @Html.DisplayFor(model => model.City)
        </div>

        <div id="details_category_name">
                @Html.DisplayNameFor(model => model.TourDuration)
        </div>

        <div id="details_category_data">
                @Html.DisplayFor(model => model.TourDuration) Days
        </div>

        <div id="details_category_name">
                @Html.DisplayNameFor(model => model.Price)
        </div>

        <div id="details_category_data">
                $@Html.DisplayFor(model => model.Price) USD
        </div>

        <div id="details_tourgallery"> 
            @{
                //int count=0;
                //foreach (var ch in @Model.ImageList){
                //    if(ch == ',') { count++; }
                //}
                //for (int i = 0; i <= count; i++)
                //{
                //    <img id="gallery_image" src="@Model.ImageList.Split(",")[i]">
                //}
                int count = 0;
                <img id="gallery_image" src="@Model.ImageList.Split(",")[0]">
                foreach (var ch in @Model.ImageList)
                {
                    if (ch == ',')
                    {
                        count++;
                        <img id="gallery_image" src="@Model.ImageList.Split(",")[count]">
                    }
                }
                count = 0;//reset
            }
@*            <img id="gallery_image" src="@Model.ImageList.Split(",")[0]">
            <img id="gallery_image" src="@Model.ImageList.Split(",")[1]">
            <img id="gallery_image" src="@Model.ImageList.Split(",")[2]">
            <img id="gallery_image" src="@Model.ImageList.Split(",")[3]">
            <img id="gallery_image" src="@Model.ImageList.Split(",")[4]">
            <img id="gallery_image" src="@Model.ImageList.Split(",")[5]">
            <img id="gallery_image" src="@Model.ImageList.Split(",")[6]">
            <img id="gallery_image" src="@Model.ImageList.Split(",")[7]">   *@        
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
